<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html,body{
            padding:0;
            margin:0;
        }
    </style>
</head>
<body>
<div style="height: 50px;padding: 5px 0 5px 100px;background-color: #fff;border-bottom: 1px solid #ddd;">
    <a href="#" style="display: block;"><img src="http://alcache.idianyou.cn/dianyou/data/circle/image/20200115/8a7ee3846fa83e5f016fa83e5f9d0000.png" style="width:140px;"></a>
</div>

</body>
</html>